<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-graduation-cap"></i>Certifieds & Courses</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Xamarin Diplomado (certified): Connecting applications to the cloud</h3>
                            <div class="time">2017</div>
                        </div><!--//upper-row-->
                        <div class="company">Microsoft Latin America, Online</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>I attend to the initiative developed by some Latin American Xamarin MVPs together the Microsoft team for Latin America (Xamarin Certified, Intermediate Level.). The goal is to get knowledge to implement a scheme of development, testing and monitoring of mobile applications created in classic Xamarin and Xamarin.Forms connected to services of the Microsoft Azure.</p>
                    </div><!--//details-->
                </div><!--//item-->
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Maratona Xamarin (certified)</h3>
                            <div class="time">2017</div>
                        </div><!--//upper-row-->
                        <div class="company">Microsoft Brasil, Online</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>I attend to the initiative developed by some Latin American Xamarin MVPs together the Microsoft team for Brasil (Xamarin Certified, Preliminary Level.). The goal is to get knowledge to implement a scheme of development using the platform to develop multiplatform applications with Visual Studio for Android, iOS and UWP, using the C# programming language.</p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Mobile Apps Development Course</h3>
                            <div class="time">2016</div>
                        </div><!--//upper-row-->
                        <div class="company">Universidad Complutense de Madrid, Online</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>The Universidad Complutense de Madrid in partnership with Google's Activate initiative have provided basic insights for creating mobile apps. This course contains the essential principles that should inspire the creation of these applications, and thus focus their design and programming well from the beginning.</p>  
                        
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">UX Course: User Experience Design</h3>
                            <div class="time">2016</div>
                        </div><!--//upper-row-->
                        <div class="company">Platzi, Online</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>The Platzi User Experience course has provided concepts for designing with the user in mind. To create interaction flows, choose fonts, colors, storyboards, wireframes and decide the iconography and investigate my users.</p>  
                    </div><!--//details- ->
                </div><!--//item-->
                
            </section><!--//section-->