 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">Degree in Systems Engineering</h4>
    <h5 class="meta">Universidad Sim&oacute;n Bol&iacute;var</h5>
    <div class="time">2005 - 2014</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">Technological specialization in Mobile Application Development</h4>
    <h5 class="meta">Centro Nacional Colombo Alem&aacute;n SENA</h5>
    <div class="time">2012 - 2013</div>
</div><!--//item-->
</div><!--//education-container-->