<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>Throughout my work experience I have developed many projects and managed several programming languages to carry out each of the assigned roles. Here is a brief description.</p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="#hook">Web Aplications</a></span> - <span class="project-tagline">My biggest experience is the development of web applications using PHP, HTML, CSS and jQuery etc. These range from large projects such as strategic planning applications and management systems to simpler applications such as virtual stores and mass mailing systems.</span>
                    
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Software Updates</a></span> - 
                    <span class="project-tagline">I have worked on projects developing customized applications and upgrades of existing applications. For these obligations I have carried out processes of information gathering and requirements, data analysis, elaboration of work schedules and execution of the project using the appropriate tools for each need.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Mobile Apps</a></span> - <span class="project-tagline">I have developed applications that use the tools of the device like sensors or geolocation, SQLite databases, consumption of webservices. The process of developing applications includes analysis, design, development and testing, using techniques that seek to generate a better user experience.</span>
                </div><!--//item-->
            </section><!--//section-->