<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-university"></i>Education</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Degree in Systems Engineering</h3>
                            <div class="time">2014</div>
                        </div><!--//upper-row-->
                        <div class="company">Universidad Sim&oacute;n Bol&iacute;var</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>My focus was always on software engineering.</p>
                    </div><!--//details-->
                </div><!--//item-->
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Certification in Software Architecture</h3>
                            <div class="time">2014</div>
                        </div><!--//upper-row-->
                        <div class="company">Universidad Sim&oacute;n Bol&iacute;var</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>I acquired knowledge in different methodologies and strategies of development, architecture of solutions and management of projects.</p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Technological specialization in Mobile Application Development</h3>
                            <div class="time">2013</div>
                        </div><!--//upper-row-->
                        <div class="company">SENA, Centro Nacional Colombo - Alem&aacute;n</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>I learned the mobile platforms, their interaction with web services and develop in each of them.</p>  
                        
                    </div><!--//details-->
                </div><!--//item-->
                
                
            </section><!--//section-->